.descricaoLinha{

  background-color: rgb(200,200,200);
  width: 100%;
  min-width: 190px;
  padding: 30px;

}

.dropdown-style{
padding:0px;   
padding-bottom: 30px;
}

.dropdown-styleBtn{
  background-color: grey;

    border-radius: 0px;
}

